In [6]:
import pandas as pd
import scipy.stats as stats

In [36]:
data1 = pd.read_csv('BuyerRatio.csv',sep=',')
data1

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
data1.shape

(2, 5)

In [4]:
data1.isnull().sum()

Observed Values    0
East               0
West               0
North              0
South              0
dtype: int64

In [5]:
data1.dtypes

Observed Values    object
East                int64
West                int64
North               int64
South               int64
dtype: object

## 1. Hypothesis Formulation

In [ ]:
## Ho: Proportion of male to female buyers in all regions are equal. 
## Ha : Proportion of male to female buyers in all regions are not equal.

## 2. Checking for p-value using chi-squared test

In [34]:
east_west = pd.crosstab(index=data1['East'] ,columns=data1['West'])
east_west

West  142   1523
East
50       1     0
435      0     1

In [38]:
chi_val,pval,df,expected_value = stats.chi2_contingency(east_west)
chi_val,pval,df,expected_value

(0.0,
 1.0,
 1,
 array([[0.5, 0.5],
        [0.5, 0.5]]))

In [39]:
east_north = pd.crosstab(index=data1['East'] ,columns=data1['North'])
east_north

North  131   1356
East
50        1     0
435       0     1

In [40]:
chi_val,pval,df,expected_value = stats.chi2_contingency(east_north)
chi_val,pval,df,expected_value

(0.0,
 1.0,
 1,
 array([[0.5, 0.5],
        [0.5, 0.5]]))

In [41]:
east_South = pd.crosstab(index=data1['East'] ,columns=data1['South'])
east_South

South  70   750
East
50       1    0
435      0    1

In [42]:
chi_val1,pval1,df1,expected_value1 = stats.chi2_contingency(east_South)
chi_val1,pval1,df1,expected_value1

(0.0,
 1.0,
 1,
 array([[0.5, 0.5],
        [0.5, 0.5]]))

In [43]:
west_north = pd.crosstab(index=data1['West'] ,columns=data1['North'])
west_north

North  131   1356
West
142       1     0
1523      0     1

In [44]:
chi_val,pval,df,expected_value = stats.chi2_contingency(west_north)
chi_val,pval,df,expected_value

(0.0,
 1.0,
 1,
 array([[0.5, 0.5],
        [0.5, 0.5]]))

In [45]:
west_South = pd.crosstab(index=data1['West'] ,columns=data1['South'])
west_South

South  70   750
West
142      1    0
1523     0    1

In [49]:
chi_val,pval,df,expected_value = stats.chi2_contingency(west_South)
chi_val,pval,df,expected_value

(0.0,
 1.0,
 1,
 array([[0.5, 0.5],
        [0.5, 0.5]]))

In [48]:
North_South = pd.crosstab(index=data1['North'] ,columns=data1['South'])
North_South

South  70   750
North
131      1    0
1356     0    1

In [50]:
chi_val,pval,df,expected_value = stats.chi2_contingency(North_South)
chi_val,pval,df,expected_value

(0.0,
 1.0,
 1,
 array([[0.5, 0.5],
        [0.5, 0.5]]))

## 3. Conclusion

In [ ]:
##  p-val after comparing each of regions with each other comes to be 1 which is greater than 0.05.
##  Hence, we can't reject the null hypothesis. So, we can conclude that the proportions of male to female buyers in all the
##  regions are equal