In [17]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [5]:
data1 = pd.read_csv('Costomer+OrderForm (1).csv',sep=',')
data1.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [6]:
data1.shape

(300, 4)

In [7]:
data1.dtypes

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

In [8]:
data1.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

## 1. Hypothesis Formulation

In [ ]:
# H0: There is no significant difference in defective percentage in the four centers.
# Ha: There is a significant difference in defective percentage in the four centers.

In [21]:
p_i = pd.crosstab(index=data1['Phillippines'] ,columns=data1['Indonesia'])
p_i

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [51]:
chi_val3,pval3,df3,expected_value3 = stats.chi2_contingency(p_i)

In [49]:
print('chi_squared value: {} \n pval: {} \n Degrees of Freedom: {}\n Expected Value: {}'.format(chi_val3,pval3,df3,expected_value3))

chi_squared value: 0.11520004362605206
 pval: 0.7342998926385209
 Degrees of Freedom: 1
 Expected Value: [[  1.93333333  27.06666667]
 [ 18.06666667 252.93333333]]

In [69]:
if pval3<= 0.05:
    print('We reject the null hypothesis saying that there is a signifiacnt difference in defective percentage in the four centers. ')
else:
    print('We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers')

We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers

In [25]:
p_m = pd.crosstab(index=data1['Phillippines'] ,columns=data1['Malta'])
p_m

Malta         Defective  Error Free
Phillippines
Defective             4          25
Error Free           27         244

In [54]:
chi_val4,pval4,df4,expected_value4 = stats.chi2_contingency(p_m)

In [53]:
print('chi_squared value: {} \n pval: {} \n Degrees of Freedom: {}\n Expected Value: {}'.format(chi_val4,pval4,df4,expected_value4))

chi_squared value: 0.1043743747062788
 pval: 0.7466420539639729
 Degrees of Freedom: 1
 Expected Value: [[  2.99666667  26.00333333]
 [ 28.00333333 242.99666667]]

In [72]:
if pval4<= 0.05:
    print('We reject the null hypothesis saying that there is a signifiacnt difference in defective percentage in the four centers. ')
else:
    print('We do not reject the null hypothesis saying that there is no signifiacnt difference in the defective percentage in the four centers')

We do not reject the null hypothesis saying that there is no signifiacnt difference in the defective percentage in the four centers

In [33]:
p_in = pd.crosstab(index=data1['Phillippines'] ,columns=data1['India'])
p_in

India         Defective  Error Free
Phillippines
Defective             2          27
Error Free           18         253

In [57]:
chi_val5,pval5,df5,expected_value5 = stats.chi2_contingency(p_in)

In [56]:
print('chi_squared value: {} \n pval: {} \n Degrees of Freedom: {}\n Expected Value: {}'.format(chi_val5,pval5,df5,expected_value5))

chi_squared value: 0.11520004362605206
 pval: 0.7342998926385209
 Degrees of Freedom: 1
 Expected Value: [[  1.93333333  27.06666667]
 [ 18.06666667 252.93333333]]

In [71]:
if pval5<= 0.05:
    print('We reject the null hypothesis saying that there is a signifiacnt difference in defective percentage in the four centers. ')
else:
    print('We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers')

We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers

In [29]:
i_i = pd.crosstab(index=data1['Indonesia'] ,columns=data1['India'])
i_i

India       Defective  Error Free
Indonesia
Defective           2          31
Error Free         18         249

In [60]:
chi_val6,pval6,df6,expected_value6 = stats.chi2_contingency(i_i)

In [59]:
print('chi_squared value: {} \n pval: {} \n Degrees of Freedom: {}\n Expected Value: {}'.format(chi_val6,pval6,df6,expected_value6))

chi_squared value: 0.049248504304684096
 pval: 0.8243761295490989
 Degrees of Freedom: 1
 Expected Value: [[  2.2  30.8]
 [ 17.8 249.2]]

In [65]:
if pval6<= 0.05:
    print('We reject the null hypothesis saying that there is a signifiacnt difference in defective percentage in the four centers')
else:
    print('We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers')

We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers

In [31]:
i_m = pd.crosstab(index=data1['Indonesia'] ,columns=data1['Malta'])
i_m

Malta       Defective  Error Free
Indonesia
Defective           9          24
Error Free         22         245

In [45]:
chi_val2,pval2,df2,expected_value2 = stats.chi2_contingency(i_m)

In [46]:
print('chi_squared value: {} \n pval: {} \n Degrees of Freedom: {}\n Expected Value: {}'.format(chi_val2,pval2,df2,expected_value2))

chi_squared value: 9.52050868943337
 pval: 0.0020318825161213722
 Degrees of Freedom: 1
 Expected Value: [[  3.41  29.59]
 [ 27.59 239.41]]

In [67]:
if pval2<= 0.05:
    print('We reject the null hypothesis saying that there is a signifiacnt difference in defective percentage in the four centers. ')
else:
    print('We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers')

We reject the null hypothesis saying that there is a signifiacnt difference in defective percentage in the four centers.

In [37]:
m_i = pd.crosstab(index=data1['Malta'] ,columns=data1['India'])
m_i

India       Defective  Error Free
Malta
Defective           0          31
Error Free         20         249

In [43]:
chi_val1,pval1,df1,expected_value1 = stats.chi2_contingency(m_i)
chi_val1,pval1,df1,expected_value1

(1.419106436194816,
 0.23355053527979247,
 1,
 array([[  2.06666667,  28.93333333],
        [ 17.93333333, 251.06666667]]))

In [44]:
print('chi_squared value: {} \n pval: {} \n Degrees of Freedom: {}\n Expected Value: {}'.format(chi_val1,pval1,df1,expected_value1))

chi_squared value: 1.419106436194816
 pval: 0.23355053527979247
 Degrees of Freedom: 1
 Expected Value: [[  2.06666667  28.93333333]
 [ 17.93333333 251.06666667]]

In [68]:
if pval1<= 0.05:
    print('We reject the null hypothesis saying that there is a signifiacnt difference in defective percentage in the four centers. ')
else:
    print('We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers')

We do not reject the null hypothesis saying that there is no signifiacnt difference in defective percentage in the four centers

## 2. Conclusion

In [ ]:
# p-val after comparing each region with the another came out to be greater than 0.05 except for indonesia and malta.The p-val
# for indonesia and malta is 0.02 which is smaller than 0.05. Hence, we can reject the null hypothesis and conculde that there
# is significant difference in the defective percentage in the four centers.