## 1. Data Understanding

In [1]:
import pandas as pd

In [4]:
data1 = pd.read_csv('LabTAT.csv',sep=',')
data1.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
data1.shape

(120, 4)

In [6]:
data1.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [7]:
data1.dtypes

Laboratory 1    float64
Laboratory 2    float64
Laboratory 3    float64
Laboratory 4    float64
dtype: object

## 2. Hypothesis Formulation

In [ ]:
## H0 = There is no signifiacnt difference in the average Turn Around Time of reports of the laboratories
## Ha = There is a signifiacnt difference in the average Turn Around Time of reports of the laboratories

##  3. Significance level = 0.05

## 4. I will use 'ANNOVA' test since we need to compare averages of more than 2 samples or 2 groups

## 5. p-value calculation

In [14]:
x = data1['Laboratory 1']
y = data1['Laboratory 2']
z = data1['Laboratory 3']
k = data1['Laboratory 4']

In [8]:
from scipy.stats import f_oneway

In [16]:
num,pval = f_oneway(x,y,z,k)
pval

2.1156708949992414e-57

## 6.  Conclusion

In [18]:
if pval<= 0.05:
    print('We reject the null hypothesis saying that there is a signifiacnt difference in the average Turn Around Time of reports of the laboratories')
else:
    print('We do not reject the null hypothesis saying that there is no signifiacnt difference in the average Turn Around Time of reports of the laboratories')

We reject the null hypothesis saying that there is a signifiacnt difference in the average Turn Around Time of reports of the laboratories

In [ ]:
## Since pval is smaller than 0.05, we can reject the null hypothesis and can say that there is a siginificant difference in the
## average Turn Around Time of reports of the laboratories